.form {
    display: flex;
    justify-content: center;
}

.input {
    width: 70%;
    height: 1.8rem;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

.input:focus {
    outline: none;
}

.searchBtn {
    border: none;
    background-color: var(--color-lt-bg);
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 5px;
}

.searchBtn:hover {
    background-color: var(--color-dk-ac);
}

.searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-lt-text-dk);
}