.detailBox {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--color-lt-text-dk);
}

a:visited {
    color: var(--color-lt-text-lt);

}

.title {
    text-decoration: none;
    font-weight: bold;

}

.channel {
    margin: 5px 0;
    color: var(--color-lt-text-dk);

}

.date {
    color: var(--color-lt-text-lt);

}